* {
    margin: 0;
    padding: 0;
}

.root {
    background-color: rgb(240, 240, 240);
}

.App {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #c4c4c4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(250, 250, 250);
}

.container--main {
    display: block;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.container--about {
    padding: 30px;
    height: 100%;
}

.bascet {
    position: absolute;
    top: 15px;
    right: 30px;
}

.login {
    position: absolute;
    top: 15px;
    left: 30px;
}

.header {
    margin-bottom: 20px;
    max-width: 150px;
    text-align: center;
    word-wrap: break-word;
}

.main-header {
    margin-bottom: 50px;
    color: #386141;
    font-size: 40px;
}

.list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__elem:not(:last-child) {
    margin-right: 40px;
}

.link {
    text-decoration: none;
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    transition: ease-in-out .2s color;
}

.link:hover {
    color: rgb(145, 175, 195);
}

.link:active {
    color: rgb(95, 138, 167);
}

.about-text {
    color: #333;
    margin-bottom: 20px;
    text-indent: 40px;
}

/* Modale window */

.button--modale {
    position: absolute;
    z-index: 10;
}

.modale-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 200vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale-container__form {
    position: relative;
    width: 400px;
    height: 280px;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modale-container__left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    margin-right: 20px;
}

.modale-container__right {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.modale-container__input {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 10px;
    width: 70%;
    height: 33px;
    border-radius: 3px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 10px rgb(240, 240, 240);
}

.modale-container__input:focus {
    background-color: rgb(240, 240, 240);
}

.modale-container__form-button {
    align-self: center;
    border: none;
    padding: 16px 27px;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgb(255, 220, 100);
    transition: .2s ease-in-out background-color;
}

.modale-container__form-button:hover {
    background-color: rgb(240, 200, 60)
}

.modale-container__form-button:active {
    background-color: rgb(240, 220, 100)
}

.modale-container__button {
    position: absolute;
    top: -40px;
    right: -80px;
    padding: 20px 25px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #666;
    transition: .2s ease-in-out background-color;
}

.modale-container__button:hover {
    background-color: #555;
}

.modale-container__button:active {
    background-color: #777;
}

.modale-container__error {
    position: absolute;
    color: rgb(218, 84, 69);
    font-size: 15px;
    width: 100%;
    text-align: center;
    bottom: 20px;
}

/* Role panel */

.role-panel {
    color: #797979;
    font-size: 14px;
    position: absolute;
    left: 140px;
}

.role-panel__role {
    color: #666;
    font-size: 16px;
}

/* Card items */

.cardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    padding: 50px 0;
    border-radius: 3px;
    width: 30%;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 0px 3px #ddd;
}

.cardContainer--more {
    width: 97%;
    margin: 0 3%;
    height: 100%;
    padding: 150px 0;
    position: relative;
}

.cardContainer__left {
    width: 30%;
}

.cardContainer__left--more {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.cardContainer__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cardContainer__right--more {
    width: 60%;
}

.cardContainer__right__buttonsCont {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.cardContainer__right__input {
    width: 330px;
    margin-bottom: 15px;
    padding: 0 10px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: rgb(248, 248, 248);
    border-radius: 3px;
}

.cardContainer__right__input:focus {
    background-color: rgb(235, 235, 235);
}

.cardContainer__right__textarea {
    width: 330px;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: rgb(248, 248, 248);
    border-radius: 3px;
}

.cardContainer__right__textarea:focus {
    background-color: rgb(235, 235, 235);
}

.cardContainer__right__error {
    color: rgb(218, 84, 69);
    margin-top: 15px;
}

.img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
}

.img--more {
    width: 350px;
    height: 350px;
}

.header--more {
    font-size: 26px;
    max-width: 450px;
}

.description {
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
    word-wrap: break-word;
    max-width: 150px;
}

.description--more {
    font-size: 18px;
    max-width: 450px;
}

.description-role {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16;
    color: rgb(218, 84, 69);
    padding: 0;
    width: 150px;
}

.price {
    color: #333;
    margin-bottom: 20px;
}

.price--more {
    font-size: 18px;
}

.button {
    padding: 13px 25px;
    background-color: #e6e6e6;
    /* background-color: rgb(238, 209, 113); */
    border: none;
    border-radius: 3px;
    font-size: 16px;
    transition: ease-in-out .2s background-color;
}

.button:hover {
    background-color: rgb(145, 175, 195);
}

.button:hover:disabled {
    background-color: #eeeeee;;
}

.button:active {
    background-color: rgb(81, 111, 131);
}

.button:active:disabled {
    background-color: #eeeeee;
}

.button--counter {
    font-size: 18px;
}

.button--counter:not(:last-child) {
    margin-right: 20px;
}

.counter-container {
    position: relative;
}

.button--more {
    font-size: 18px;
}

.button--edit {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(240, 220, 100);
    transition: .2s ease-in-out background-color;
}

.button--edit:hover {
    background-color: rgb(240, 200, 70);
}

.button--edit:active {
    background-color: rgb(240, 220, 100);
}

.button--save {
    background-color: #64926f;
}

.count {
    margin-right: 20px;
    font-size: 18px;
}

.notAvailable {
    color: lightcoral;
    margin-bottom: 10px;
}